<%= erb(:partial2)%>
<div class="container text-center">
  <h1>Admin Page</h1><br>
  <% if @quests.any? %>
    <h3>Edit a quest</h3>
    <% @quests.each do |quest| %>
      <h4><a href="/<%= @user.id %>/quests/<%= quest.id %>/edit"><%= quest.name %></a></h4>
    <% end %>
  <% end %>
  <h3>Create a new quest</h3>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <form class="" action="/<%= @user.id %>/quests/new" method="post">
        <input class="form-control" type="text" name="name" id="name" placeholder="Quest name" required><br>
        <input class="form-control" type="text" name="synopsis" placeholder="Brief synopsis"><br>
        <button type="submit" class="btn btn-sm btn-default" name="button">Create</button>
      </form>
    </div>
  </div>
</div>
