<%= erb(:partial2)%>
<div class="container text-center">
  <h1>Quest: <%= @quest.name %></h1>
  <h2>Synopsis:</h2>
  <h5><%= @quest.synopsis %></h5>
  <h2>Scenes: </h2>
  <ul class="text-left" style="width: 50%; margin: 0 auto;">
    <% if @scenes.any? %>
    <% @quest.scenes.each do |scene| %>
      <% if scene.keyword == "START" %>
        <li><a href="/<%= @user.id %>/scenes/<%= scene.id %>/edit"><%= scene.name %></a></li>
        <ul>
          <div><%= scene.render_menu()%> </div>
        </ul>
      <% end %>
    <% end %>
  </ul>
  <% else %>
    <h3>Create an opening scene: <a href="" data-toggle="modal" data-target="#popUpWindow5"> ? </a></h3>
    <div class="modal fade" id="popUpWindow5">
      <div class="modal-dialog">
        <div class="modal-content">


          <!-- header -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="modal-title">Opening Scene</h3>
          </div>

          <!-- body (form) -->
          <div class="modal-body">
            <p> Players will see the scene's name and description, and decide what to type based on that information. Try to keep in mind what choice you want the player to make, and prompt them to input the logical choice keywords. </p>
            <p> Note: After testing your quest, you can always go back and edit a scene. </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-xs-6 col-xs-offset-3" -->
        <form id="start_scene" action="/<%= @user.id %>/scenes/new" method="post">
          <input type="hidden" name="quest_id" value="<%= @quest.id %>">
          <input class="form-control" type="text" name="name" id="name" placeholder="Scene name"><br>
          <textarea class="form-control" name="description" rows="8" cols="40" form="start_scene" placeholder="Scene description/prompt"></textarea><br>
          <input class="form-control" type="text" name="background" id="background" placeholder="URL for background image"><br>
          <button class="btn btn-default" type="submit" name="button">Submit</button>
        </form>
      <!-- </div>
    </div> -->
  <% end %>
  <br>
  <br>
  <script>
  $(document).ready(function(){
    $("#toggle_edit").click(function(){
      $("#update_container2").toggle();
    });
  });
  </script>
  <button class="btn btn-default" id="toggle_edit"> Edit Quest </button>
  <div id="update_container2" style="display:none;">
    <h4>Edit name:</h4>
      <form class="" action="/<%= @user.id %>/quests/<%= @quest.id %>/edit_name" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="text" name="name" id="name" required>
        <button class="btn btn-default" type="submit" name="button">Edit</button>
      </form>
    <h4>Edit synopsis:</h4>
      <form class="" action="/<%= @user.id %>/quests/<%= @quest.id %>/edit_description" method="post">
        <input type="hidden" name="_method" value="patch">
        <input type="text" name="synopsis" id="synopsis" required>
        <button class="btn btn-default" type="submit" name="button">Edit</button>
      </form>
      <form class="" action="/<%= @user.id %>/quests/<%= @quest.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="btn btn-default" type="submit" name="button">Delete quest</button>
      </form>
  </div>
</div>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
