<%= erb(:partial2)%>
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <% if @scene.previous_scene != nil %>
        <a href="/<%= @user.id %>/scenes/<%= @scene.previous_scene %>/edit"><button class="btn btn-default" type="button" name="button">< Previous Scene: <%= Scene.find(@scene.previous_scene).name%></button></a>
      <% else %>
        This is the opening scene.
      <% end %>
    </div>
  </div>
  <br>
  <div class="row text-center">
    <div class="col-xs-6">
      <h1>Scene: <%= @scene.name %></h1>

      <h3>Description <a href="" data-toggle="modal" data-target="#popUpWindow4"> ? </a></h3>
      <div class="modal fade" id="popUpWindow4">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- header -->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h3 class="modal-title">Description</h3>
            </div>

            <!-- body (form) -->
            <div class="modal-body">
              <p> The description is where a player will get the bulk of the information about a scene. When writing or editing a description, always keep in mind what the keyword of the next scene (or scenes) will be, in order to effectively prompt your players to use the correct (i.e. logical) keywords. </p>
            </div>
          </div>
        </div>
      </div>
      <p>
        <%= @scene.description %>
      </p>
      <h3>Background image for scene:</h3>
      <% if @scene.background != nil %>
        <%= @scene.background %>
      <% else %>
        <h4>Default</h4>
      <% end %>
      <br>
      <script>
      $(document).ready(function(){
        $("#toggle_edit").click(function(){
          $("#update_container").toggle();
        });
      });
      </script>

      <button class="btn btn-default" id="toggle_edit"> Edit Scene </button>
      <div id="update_container" style="display:none;">
      <br>
      <h4>Edit name:</h4>
        <form class="" action="/<%= @user.id %>/scenes/<%= @scene.id %>/edit_name" method="post">
          <input type="hidden" name="_method" value="patch">
          <input class="form-control" type="text" name="name" id="name" required>
          <button class="btn btn-default" type="submit" name="button">Edit</button>
        </form>
      <h4>Edit description:</h4>
        <form class="" action="/<%= @user.id %>/scenes/<%= @scene.id %>/edit_description" method="post">
          <input type="hidden" name="_method" value="patch">
          <input class="form-control" type="text" name="description" id="description" required>
          <button class="btn btn-default" type="submit" name="button">Edit</button>
        </form>
      <h4>Edit background image:</h4>
        <form class="" action="/<%= @user.id %>/scenes/<%= @scene.id %>/edit_bg" method="post">
          <input type="hidden" name="_method" value="patch">
          <input class="form-control" type="text" name="background" id="background" required>
          <button class="btn btn-default" type="submit" name="button">Edit</button>
        </form>
      <form class="" action="/<%= @user.id %>/scenes/<%= @scene.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="btn btn-danger" type="submit" name="button">Delete scene</button>
      </form>
      </div>

      <div>
        <br>
        <h4> Observations <a href="" data-toggle="modal" data-target="#popUpWindow3"> ? </a></h4>
        <div class="modal fade" id="popUpWindow3">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- header -->
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Observation</h3>
              </div>

              <!-- body (form) -->
              <div class="modal-body">
                <p> An observation is an opportunity for the player to gain more knowledge about the scene they are in. An observation does not take the player to a new scene, but they can learn more to help them make decisions.  </p>
              </div>
            </div>
          </div>
        </div>
        <% if @scene.observations.any? %>
          <% @scene.observations.each do |observation| %>
            <br>
            <h5> (Keyword:<%= observation.keyword %>) </h5>
            <h5> <%= observation.description %> </h5>
            <br>
          <% end %>
        <% else %>
          <p> No observations exist for this scene, yet </p>
        <% end %>
        <h4>Add an observation:</h4><br>
        <form action ="/<%= @user.id %>/scenes/<%= @scene.id %>/add_observation" method="post">
          <input class="form-control" type="text" name="keyword" placeholder="Observation keyword"><br>
          <input class="form-control" type="text" name="name" placeholder="Observation name"><br>
          <textarea class="form-control" type="test" name="description" id="description" placeholder="Observation description"></textarea><br>
          <button class="btn btn-default" type="submit">Add Observation</button>
        </form>
      </div>
    </div>
    <div class="col-xs-6 centered">
      <h3>Options for Next Scene:</h3>
      <% if @scene.options.any? %>
        <% @scene.options.each do |option| %>
          <h4>(Keyword: <%= Scene.find(option.id).keyword%>)</h4>
          <a href="/<%= @user.id %>/scenes/<%= option.id %>/edit"><button class="btn btn-default"><%= Scene.find(option.id).name%></button></a>
          <br><p><%= Scene.find(option.id).description %></p>
        <% end %>
      <% else %>
        <h5>There are no next scenes</h5>
        <h5>(This scene is currently an ending.)</h5>
      <% end %>

      <h4>Add a next scene for "<%= @scene.name %>"</h4>
      <form id="next_scene" action="/<%= @user.id %>/scenes/add" method="post">
        <input type="hidden" name="quest_id" value="<%= @scene.quest_id %>">
        <input type="hidden" name="previous_scene" value="<%= @scene.id %>">
        <input class="form-control" type="text" name="keyword" id="keyword" placeholder="KEYWORD (one word)" required><br>
        <input class="form-control" type="text" name="name" id="name" placeholder="Scene Name"><br>
        <textarea class="form-control" type="test" name="description" id="description" placeholder="Description/Prompt"></textarea><br>
        <input class="form-control" type="text" name="background" id="background" placeholder="URL for background image"><br>
        <button class="btn btn-default" type="submit" class="btn btn-default" name="button">Submit</button>
      </form>
    </div>
  </div>
  <br>
  <h2 class="text-center">Quest: <a href="/<%= @user.id %>/quests/<%= Quest.find(@scene.quest_id).id %>/edit"><%= Quest.find(@scene.quest_id).name %></a></h2>
</div>
<br>
<br>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
