<%= erb(:partial2)%>
<div class="container">
  <h1><%= @scene.name %></h1>
<h3><%= @scene.description %></h3>

<p>
  <%= @@div %>
</p>

<br>
<br>

<% if @scene.options.any? %>
  <form class="" action="/characters/<%= @character.id %>/scenes/<%= @scene.id %>/interpret" method="get">
    <input type="text" name="text" id="text" autofocus>
    <button type="submit">Submit</button>
  </form>
<% else %>
  <h4><a href="/users/<%= @user.id %>">Start Over</a></h4>
<% end %>
</div>
