<style>
  body {
    background-image: url(<%= @background %>)
  }
</style>
<%= erb(:partial2)%>
<div class="container">
  <h1><%= @scene.name %></h1>
<h3><%= @scene.description %></h3>

<p>
  <%= @@div %>
</p>

<br>
<br>

<% if @scene.options.any? %>
  <form class="" action="/characters/<%= @character.id %>/scenes/<%= @scene.id %>/interpret" method="get">
    <input type="text" name="text" id="text" autofocus>
    <button class="btn btn-default" type="submit">Submit</button>
  </form>
<% else %>
  <h4><a href="/users/<%= @user.id %>">Start Over</a></h4>
  <br>
  <br>
  <h4>Rate this quest:</h4>
  <br>
  <form action="/characters/<%= @character.id%>/scenes/<%= @scene.id %>/rating" method='post'>
    <select style="width: 100px; font-size: 15px;" id='rating' name='rating' type='text' class="">
      <option class="option" value="5">*****</option>
      <option class="option" value="4">****</option>
      <option class="option" value="3">***</option>
      <option class="option" value="2">**</option>
      <option class="option" value="1">*</option>
    </select>
    <br>
    <br>
    <button class="btn btn-default btn-sm" type="submit">Submit</button>
  </form>
<% end %>
</div>
